body {
    text-align: center;
    background-image: url('../assets/Black-Blue-Diamonds.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    margin: auto;
}

header {
    color: #fff;
    width: 80%;
    margin: 1em auto 1em auto;
    padding: 1em;
    border-radius: 2em;
    box-shadow: 10px 10px 15px #000080;
    background-image: linear-gradient(0deg, #3da5ff, #6fa4f7);
}

main {
    margin-top: auto;
}

#wrapper {
    width: 80%;
    margin: auto;
    padding: 1em;
    border-radius: 2em;
    background-image: linear-gradient(180deg, #3da5ff, #6fa4f7);
    color:#fff;
    box-shadow: 10px 10px 15px #000080;
}

h2 {
    margin-bottom: 2em;
    font-size: 2em;
    text-shadow: 0.5px 0.5px #6b6b6b;
}

h1 {
    margin: 0 auto 0 auto;
    text-shadow: 0.5px 0.5px #6b6b6b;
    font-size: 2.5em;
}

#btn_container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
}

.btn {
    background-image: radial-gradient(circle at 30%, #b76ce6, #ff87f5);
    width: 40%;
    height: 2em;
    border-radius: 2em;
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    border: none;
    margin-bottom: 1em;
    text-shadow: 0.5px 0.5px #6b6b6b;
    box-shadow: 0px 0px 10px 5px #46454a;
}

.btn:hover {
    box-shadow: 0px 0px 10px 5px #6b6b6b;
}
